<div>
    <h2 id="page-heading">
        <span>Message Types</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-message-type" [routerLink]="['/message-type/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Message Type
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="messageTypes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Code</span></th>
            <th><span>Description</span></th>
            <th><span>Definition</span></th>
            <th><span>Is Production Stop</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let messageType of messageTypes ;trackBy: trackId">
                <td><a [routerLink]="['/message-type', messageType.id, 'view' ]">{{messageType.id}}</a></td>
                <td>{{messageType.code}}</td>
                <td>{{messageType.description}}</td>
                <td>{{messageType.definition}}</td>
                <td>{{messageType.isProductionStop}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/message-type', messageType.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/message-type', messageType.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'message-type/'+ messageType.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
